/* Import Overpass and Open Sans fonts */
@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#content {
  padding-bottom: 12%;
  padding-top: 12%;
}

/* Login Content */
.field {
    display: inline-block;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* divider line */
#border_line {
  border-right: solid 2px;
  border-color: #D3D3D3;
}

#loginForm {
  padding-right: 30px;
  float: right;
}

#registrationForm {
  padding-left: 30px;
  float: left;
