/* Import Overpass and Open Sans fonts */
@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#content {
  padding-bottom: 12%;
  padding-top: 12%;
}

/* Login Content */
.field {
    display: inline-block;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* divider line */
#register-form {
  border-left: solid 2px;
  border-color: #D3D3D3;
}
