.imgSize {
  width: 250px;
  height: 175px;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin: auto;
}

/* moves centre image */
#imageMoveM {
  margin-left: 50px;
}

/* moves right image */
#imageMoveR {
  margin-left: 100px;
}
