#show{
	background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#img_frame_container{
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
}

#upload_button_container{
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
}

#img_display_frame{
	border-style: solid;
	border-width: thin;
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
}
