td {
  text-align: center;
  color: white;
  width: 100px;
}

td img {
  width: 50px;
}

td img:last-child {
  padding-right: none;
}

table {
  margin: auto;
  margin-bottom: 15px;
  background-color: black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;

  font-family: "Open Sans", sans-serif;
}

/* OPTION B CSS */
.vertical-table {
  float: right;
}
/* END B */

.user-review {
  margin-bottom: 25px;
}

.user-review h3 {
  margin-top: 0px;
}

.user-review img {
  max-width: 250px;
  float: left;
}
