@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  color: #2C783D;
  font-size: 3em;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: bold;
  
}
