@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Main header on jumbotron*/
h1 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  color: #2C783D
}

#jumboMainHeader {
  color: #ffffff;
  font-size: 4em;
  text-shadow: 0.02em 0.02em 0.02em #000000;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0;
}

#jumboMinHeader {
  color: #ffffff;
  font-size: 2em;
  text-shadow: 0.02em 0.02em 0.02em #000000;
  text-align: center;
  position: relative;
  bottom: 1.4em;
}

/* Hike Heading*/
#hikeHeading {
  text-align: center;
  color: #000000;
  font-family: 'Overpass', sans-serif;
  font-weight:bold;
}

#colouredHeading {
  text-align: center;
  color: #2C783D;
  font-weight: bold;
}

/* header for hikes*/
h2 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  color: #2C783D;
  font-weight: bold;
}


h3 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  color: #2C783D;
}

h4 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  color: #2C783D;
}

h5 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  color: #2C783D;
}

h6 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  color: #2C783D;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: bold;
  font-size: 1em;
}
