@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.jumboMainHeader {
  color: #FFFFFF;
  font-size: 4em;
  text-shadow: 0.02em 0.02em 0.02em #000000;
  text-align: center;
}

.jumboMinHeader {
  color: #FFFFFF;
  font-size: 2em;
  text-shadow: 0.02em 0.02em 0.02em #000000;
  text-align: center;
  position: relative;
  bottom: 1.4em;
}

/* Hike Heading*/
.hikeHeading {
  text-align: center;
  color: #000000;
  font-family: 'Overpass', sans-serif;
  font-weight:bold;
}

.colouredHeading {
  text-align: center;
  color: #2C783D;
  font-weight: bold;
}

/* Main header on jumbotron*/
h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Overpass', sans-serif;
  font-size: 3em;
}

/* header for hikes*/
h2 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  font-size: 2.25em;
}


h3 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-style: normal;
  font-weight: 1.6em;
}

h4 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 1.6em;
  font-style: italic;
  font-weight: 100;
}

h5 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 1.6em;
  font-family: normal;
}

h6 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-weight: 100;
  font-size: 1.6em;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: normal;
  font-size: 1em;
}
