            /*correct way to inline image*/
            /*put this class on the div containing the paragraph*/
            .paragraph_container{
            height:480px;
            width:480px;
            border-style:dashed;
            display:inline-block;
            vertical-align: middle;
            }
            .paragraph_container > div{
            	display:inline-block;
            	vertical-align: middle;

            }

            .paragraph_container > p{
            	position:relative;
            }
            /*a div with this class containing an image can be nested in a <p> */
            .inline_image_right{
            	float:right;
                  padding: 10px 0 10px 10px;
            }
            .inline_image_left{
            	float:left;
                  padding: 10px 10px 10px 0;
                  
            }